

.postlist {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.postlist h2 {
  font-size: 20px;
  margin-bottom: 8px;
}
.postlist a{
  text-decoration: none;
}

 .PL{
  /* border:2px solid red; */
  margin-left:30px;
  margin-inline: 10px;
  /* box-shadow: 5px 10px grey; */
  border-radius: 5px;
}


.title{
  text-align: center;
}

