

.postlist {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.postlist:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.postlist h2 {
  font-size: 20px;
  color: #0020d5;
  margin-bottom: 8px;
}
.postlist a{
  text-decoration: none;
}

 .PL{
  /* border:2px solid red; */
  margin-left:30px;
  margin-inline: 10px;
  box-shadow: 5px 10px grey;
  border-radius: 5px;
}

#book{
  background-color:blue;
  height: 200px;
  color:black;

}
#title{
  color:black;
  text-shadow: 1px 1px rgba(117, 131, 208, 0.392);
  text-align: center;
}

